<html>

<body>

<h1>Knowledge Sharing Portal Info</h1>

<h2>Concept</h2>
<h4>
  <b>Knowledge sharing</b> is an activity through which knowledge (namely, information, skills, or expertise) is exchanged among people, friends, peers, families, communities (for example, Wikipedia), or within or between organizations.It bridges the individual and organizational knowledge, improving the absorptive and innovation capacity and thus leading to sustained competitive advantage of companies as well as individuals.Knowledge sharing is part of the Knowledge management process.
</h4>
<h4>
  Apart from traditional face-to-face knowledge sharing, social media is a good tool because it is convenient, efficient, and widely used.Organizations have recognized that knowledge constitutes a valuable intangible asset for creating and sustaining competitive advantages.However, technology constitutes only one of the many factors that affect the sharing of knowledge in organizations, such as organizational culture, trust, and incentives.The sharing of knowledge constitutes a major challenge in the field of knowledge management because some employees tend to resist sharing their knowledge with the rest of the organization.
</h4>

<h2>Benefits</h2>
<ul>
    <li><h4>Improved Team Productivity.</h4></li>
    <li><h4>Improved Customer Engagements.</h4></li>
    <li><h4>Enhanced Team Alignment.</h4></li>
    <li><h4>Continuous Improvements to Workflows.</h4></li>
</ul>    
    
</body>

<body>

<h2>Create a Culture of Sharing</h2>
<h4>
  We live in a sharing economy world with people valuing and benefiting from collective, accessible efforts. Siloed information is giving way to a culture of shared knowledge in which users are empowered by the wisdom and also learn from the mistakes of others.
</h4>
<h4>
  Organizations with a strong knowledge-sharing culture are rewarded with happier and more productive team members who are more engaged with and vested in helping the company achieve its goals. Because it promotes engagement, knowledge sharing shows that you value what your employees have to offer.
</h4>
    
</body>
        
</html>
